In [1]:
from housing.util.util import load_numpy_array_data

In [2]:
import numpy as np
import pandas as pd

In [10]:
train = load_numpy_array_data("D:\\Study stuff\\FSDS\\01. Python\\machine-learning-project\\housing\\artifact\\data_transformation\\2022-07-11-19-08-25\\transformed_data\\train\\housing.npz")
pd.DataFrame(train)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.138877,0.060599,-1.091902,0.600645,0.606695,1.825164,0.707379,-0.916709,-0.120712,0.124735,-0.200419,0.00000,2.148381,0.0,0.000000,0.000000,59800.0
1,0.673537,-0.697842,1.691445,0.471938,0.413812,0.266221,0.383168,0.883255,0.100212,-0.037167,-0.304625,2.01326,0.000000,0.0,0.000000,0.000000,258100.0
2,0.698521,-0.824249,1.611921,-0.315874,-0.212461,-0.072795,-0.150210,-0.441229,-0.411550,-0.005746,0.252886,2.01326,0.000000,0.0,0.000000,0.000000,162800.0
3,0.308769,-0.674433,-0.376184,0.042306,-0.238655,-0.091238,-0.192044,0.424530,0.394592,-0.000118,-0.828941,2.01326,0.000000,0.0,0.000000,0.000000,228800.0
4,-1.295210,0.992264,1.214300,-0.920475,-0.960179,-0.916819,-0.947664,-0.691562,-0.344148,-0.026703,-0.015862,0.00000,0.000000,0.0,3.180212,0.000000,111100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16507,0.643556,-0.730614,-0.376184,0.284146,1.778278,1.071601,1.789824,-0.740881,-1.075255,-0.075375,2.795196,2.01326,0.000000,0.0,0.000000,0.000000,216700.0
16508,0.688527,-0.688479,1.611921,-0.384121,-0.636327,-0.603274,-0.605151,1.439299,0.518520,-0.029877,-0.987678,2.01326,0.000000,0.0,0.000000,0.000000,375700.0
16509,0.793461,-0.880430,0.657630,-0.624129,-0.619658,-0.561117,-0.586849,-0.276887,-0.320223,-0.020831,0.052863,2.01326,0.000000,0.0,0.000000,0.000000,199600.0
16510,1.263162,-1.404784,-0.217136,0.059253,-0.267230,-0.224737,-0.260024,0.667118,0.599845,-0.015530,-0.929180,0.00000,0.000000,0.0,0.000000,2.989913,181600.0
16511,-0.855490,1.099944,1.850493,-0.772073,-0.833972,-0.885201,-0.853538,-0.909649,0.029782,-0.059359,-0.274766,0.00000,2.148381,0.0,0.000000,0.000000,69900.0

In [13]:
test = load_numpy_array_data("D:\\Study stuff\\FSDS\\01. Python\\machine-learning-project\\housing\\artifact\\data_transformation\\2022-07-11-19-08-25\\transformed_data\\test\\housing.npz")
pd.DataFrame(test)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,-1.115325,0.510045,-1.171426,-0.061209,-0.302949,-0.110560,-0.207732,0.833304,0.214707,-0.000808,-0.772787,2.01326,0.000000,0.0,0.000000,0.0,190000.0
1,-1.255235,1.095262,-1.569047,0.007495,-0.226749,-0.278311,-0.079616,1.469332,0.092576,-0.064089,-0.728940,0.00000,0.000000,0.0,3.180212,0.0,245200.0
2,1.348108,-1.348603,-1.091902,-0.262743,-0.507738,-0.376679,-0.492723,0.867869,0.487328,0.008939,-0.879252,2.01326,0.000000,0.0,0.000000,0.0,248900.0
3,-1.515070,1.334031,-0.932854,-0.503209,-0.643470,-0.716572,-0.644370,1.439035,0.264241,-0.059937,-0.625944,2.01326,0.000000,0.0,0.000000,0.0,341500.0
4,-1.035375,0.486637,-0.058088,-1.085824,-1.114961,-1.060857,-1.143759,-0.447657,-0.465925,0.039366,0.686050,2.01326,0.000000,0.0,0.000000,0.0,137500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4123,-1.325191,1.010991,1.850493,0.365217,0.370949,0.747517,0.490367,0.018707,-0.172463,0.017958,-0.182473,0.00000,0.000000,0.0,3.180212,0.0,164700.0
4124,0.578597,-0.744659,1.850493,-0.235261,-0.481544,-0.546186,-0.445660,3.850369,0.414255,-0.057167,-0.867434,2.01326,0.000000,0.0,0.000000,0.0,500001.0
4125,0.553613,-0.674433,0.498582,-0.520156,-0.569651,-0.564630,-0.492723,1.182854,-0.241951,-0.050743,-0.239017,2.01326,0.000000,0.0,0.000000,0.0,256300.0
4126,-0.775541,1.511937,-0.932854,0.605683,0.435244,0.229333,0.492982,-0.257708,0.131483,-0.056575,-0.490327,0.00000,2.148381,0.0,0.000000,0.0,216500.0
4127,1.073282,-0.791477,-0.217136,-0.094646,-0.005291,-0.034150,-0.074387,-0.173350,-0.107756,-0.013877,0.100114,0.00000,2.148381,0.0,0.000000,0.0,113500.0

In [12]:
pd.read_csv("D:\\Study stuff\\FSDS\\01. Python\\machine-learning-project\\housing\\artifact\\data_ingestion\\2022-07-11-19-08-25\\ingested_data\\train\\housing.csv")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-119.29,35.76,15.0,3938.0,789.0,3500.0,768.0,2.1295,59800.0,INLAND
1,-118.22,34.14,50.0,3657.0,708.0,1725.0,644.0,5.5456,258100.0,<1H OCEAN
2,-118.17,33.87,49.0,1937.0,445.0,1339.0,440.0,3.0319,162800.0,<1H OCEAN
3,-118.95,34.19,24.0,2719.0,434.0,1318.0,424.0,4.6750,228800.0,<1H OCEAN
4,-122.16,37.75,44.0,617.0,131.0,378.0,135.0,2.5568,111100.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
16507,-118.28,34.07,24.0,3247.0,1281.0,2642.0,1182.0,2.4632,216700.0,<1H OCEAN
16508,-118.19,34.16,49.0,1788.0,267.0,735.0,266.0,6.6009,375700.0,<1H OCEAN
16509,-117.98,33.75,37.0,1264.0,274.0,783.0,273.0,3.3438,199600.0,<1H OCEAN
16510,-117.04,32.63,26.0,2756.0,422.0,1166.0,398.0,5.1354,181600.0,NEAR OCEAN
16511,-121.28,37.98,52.0,941.0,184.0,414.0,171.0,2.1429,69900.0,INLAND

In [9]:
pd.read_csv("D:\\Study stuff\\FSDS\\01. Python\\machine-learning-project\\housing\\artifact\\data_ingestion\\2022-07-11-18-41-12\\ingested_data\\test\\housing.csv")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.80,36.72,14.0,2493.0,407.0,1296.0,418.0,5.4508,190000.0,<1H OCEAN
1,-122.08,37.97,9.0,2643.0,439.0,1105.0,467.0,6.6579,245200.0,NEAR BAY
2,-116.87,32.75,15.0,2053.0,321.0,993.0,309.0,5.5164,248900.0,<1H OCEAN
3,-122.60,38.48,17.0,1528.0,264.0,606.0,251.0,6.6004,341500.0,<1H OCEAN
4,-121.64,36.67,28.0,256.0,66.0,214.0,60.0,3.0197,137500.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
4123,-122.22,37.79,52.0,3424.0,690.0,2273.0,685.0,3.9048,164700.0,NEAR BAY
4124,-118.41,34.04,52.0,2113.0,332.0,800.0,327.0,11.1768,500001.0,<1H OCEAN
4125,-118.46,34.19,35.0,1491.0,295.0,779.0,309.0,6.1142,256300.0,<1H OCEAN
4126,-121.12,38.86,17.0,3949.0,717.0,1683.0,686.0,3.3802,216500.0,INLAND
4127,-117.42,33.94,26.0,2420.0,532.0,1383.0,469.0,3.5403,113500.0,INLAND